@import url("header.css");
@import url("main.css");
@import url("footer.css");

body {
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
  justify-items: center;
  background-color: #837560;
  font-family: verdana, arial, sans-serif;
  font-size: .68em;
}

content {
  width: 784px;
  box-shadow: 0 0 5px .6em #47433C;
}
